label {
    font-weight: bold;
    padding-top: 8px;
    overflow: auto;
}

img {
    height: 40px;
    width: 200px;
}

form {
    padding-top: 10px;
}

svg {
    display: inline;
    position: relative;
}

div.input-group-prepend {
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
}

.jumbotron {
    border: 1px solid grey;
}

.row {
    padding: 2px;
}

#logo {
    background-color: #e9ecef;
    padding: 2rem 1rem;
    margin-bottom: 10px;
    border: solid 1px grey;
}

@media only screen and (max-width: 767px) {
  div.col-md-3 {
    text-align: left !important;
  }
}